/*** layout/positioning - stuff you probably won't need to change ***/
._wTooltip_holder{display:none; position:absolute; z-index: 99999;}
._wTooltip_outer{position:relative;}
._wTooltip_inner{position: static;}
._wTooltip_bg{position:absolute; left:0px; top:0px; width:100%; height:100%;}
._wTooltip_content{position:relative;}

/*** visuals ***/
._wTooltip_holder{border-width:2px; border-style:solid; border-radius:6px;}/*outer border*/
._wTooltip_outer{border-width:1px; border-style:solid; border-radius:5px; margin:1px; }/*inner border*/
._wTooltip_content{padding:3px 10px; font-weight:bold; font-family:verdana; font-size:11px; line-height: 15px;}/*content*/

/*** colors ***/
._wTooltip_red, ._wTooltip_red ._wTooltip_outer{border-color:#CE6F6F;}
._wTooltip_red ._wTooltip_bg{background-color:#F79992;}
._wTooltip_red ._wTooltip_inner{color:#9C2F2F;}

._wTooltip_green, ._wTooltip_green ._wTooltip_outer{border-color:#A9DB66;}
._wTooltip_green ._wTooltip_bg{background-color:#CDE6AC;}
._wTooltip_green ._wTooltip_inner{color:#58792E;}

._wTooltip_blue, ._wTooltip_blue ._wTooltip_outer{border-color:#ADD9ED;}
._wTooltip_blue ._wTooltip_bg{background-color:#E5F6FE;}
._wTooltip_blue ._wTooltip_inner{color:#4D9FBF;}

._wTooltip_white, ._wTooltip_white ._wTooltip_outer{border-color:#E2E2E2;}
._wTooltip_white ._wTooltip_bg{ background-color:#FFFFFF;}
._wTooltip_white ._wTooltip_inner{color:#454545;}

._wTooltip_black, ._wTooltip_black ._wTooltip_outer{border-color:#303030;}
._wTooltip_black ._wTooltip_bg{background-color:#505050;}
._wTooltip_black ._wTooltip_inner{color:#F3F3F3;}

._wTooltip_cream, ._wTooltip_cream ._wTooltip_outer{border-color:#F9E98E;}
._wTooltip_cream ._wTooltip_bg{background-color:#FBF7AA;}
._wTooltip_cream ._wTooltip_inner{color: #A27D35;}

._wTooltip_yellow, ._wTooltip_yellow ._wTooltip_outer{border-color:#E9D315;}
._wTooltip_yellow ._wTooltip_bg{background-color:#F9F2BA;}
._wTooltip_yellow ._wTooltip_inner{color:#5B5316;}

._wTooltip_orange, ._wTooltip_orange ._wTooltip_outer{border-color:#E56717;}
._wTooltip_orange ._wTooltip_bg{background-color:#F87217;}
._wTooltip_orange ._wTooltip_inner{color:#9C2F2F;}

._wTooltip_plum, ._wTooltip_plum ._wTooltip_outer{border-color:#7E354D;}
._wTooltip_plum ._wTooltip_bg{background-color:#B93B8F;}
._wTooltip_plum ._wTooltip_inner{color:#F9B7FF;}